In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

full_bklyn_df = pd.read_csv('brooklyn_2022_sales.csv')
full_bklyn_df.shape

(15555, 13)

In [37]:
#create full DF and combined columns for first and second mtgs into one colums, 
#added a column for count to track how many get combined later into groupbys and

full_bklyn_df = full_bklyn_df.fillna(0)
full_bklyn_df['Amount Mortgaged'] = full_bklyn_df['1st Amount'] + full_bklyn_df['2nd Amount']
full_bklyn_df['Zip Count'] = full_bklyn_df['ZIP'].map(full_bklyn_df['ZIP'].value_counts())
full_bklyn_df.tail()

,Type,Address,ZIP,Purchase Amt,Purchase Down %,1st Amount,2nd Amount,CLTV %,Purchase Date,Purchase Type,City,Owner Occ?,Listed for Sale?,Amount Mortgaged,Zip Count
15550,CND,127 PUTNAM AVE 1B,11238.0,1190000.0,25.0,892500.0,0.0,72.0,6/1/2023,Market,BROOKLYN,0.0,0.0,892500.0,709
15551,CND,108 JACKSON ST 1B,11211.0,1430000.0,20.0,1144000.0,0.0,81.0,10/26/2023,Market,BROOKLYN,0.0,0.0,1144000.0,551
15552,CND,2222 OCEAN AVE 2F,11229.0,380000.0,100.0,0.0,0.0,0.0,11/14/2023,Market,BROOKLYN,0.0,0.0,0.0,952
15553,CND,2218 OCEAN AVE 5E,11229.0,315000.0,100.0,0.0,0.0,0.0,4/25/2023,Market,BROOKLYN,0.0,0.0,0.0,952
15554,The information contained in this report is su...,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,1

In [38]:
#filtered DF to only relevant columns
full_bklyn_df2= full_bklyn_df.loc[:, ['ZIP', 'Zip Count', 'Type', 'Owner Occ?', 'Purchase Down %', 
                                 'Purchase Amt', 'Amount Mortgaged']]
investor_bk_df = full_bklyn_df2[(full_bklyn_df2['Owner Occ?'] ==1)]
bklyn_df = full_bklyn_df2[(full_bklyn_df2['Owner Occ?'] == 0)]
bklyn_df.head()

,ZIP,Zip Count,Type,Owner Occ?,Purchase Down %,Purchase Amt,Amount Mortgaged
0,11201.0,1187,CND,0.0,33.0,4600000.0,3062500.0
1,11201.0,1187,CND,0.0,30.0,4550000.0,3185000.0
2,11201.0,1187,CND,0.0,69.0,2620000.0,825084.0
4,11201.0,1187,CND,0.0,100.0,4740000.0,0.0
8,11201.0,1187,CND,0.0,81.0,4200000.0,787743.0

In [39]:
bklyn_df['Mtg Tx Pd'] = np.where(bklyn_df['Amount Mortgaged'] >= 500000, 
                                 bklyn_df['Amount Mortgaged'] * 0.0195, bklyn_df['Amount Mortgaged'] * 0.018)
bklyn_df['Mansion Tax Pd'] = np.where(bklyn_df['Purchase Amt'] >= 1000000, bklyn_df['Purchase Amt'] * 0.01, 0)
bklyn_df['New Sales Tax Amount'] = np.where(bklyn_df['Purchase Amt'] >= 1000000, bklyn_df['Purchase Amt'] * 0.0169,
                                            bklyn_df['Purchase Amt'] * 0.0169)

bklyn_df.head()

,ZIP,Zip Count,Type,Owner Occ?,Purchase Down %,Purchase Amt,Amount Mortgaged,Mtg Tx Pd,Mansion Tax Pd,New Sales Tax Amount
0,11201.0,1187,CND,0.0,33.0,4600000.0,3062500.0,59718.8,46000.0,77740.0
1,11201.0,1187,CND,0.0,30.0,4550000.0,3185000.0,62107.5,45500.0,76895.0
2,11201.0,1187,CND,0.0,69.0,2620000.0,825084.0,16089.1,26200.0,44278.0
4,11201.0,1187,CND,0.0,100.0,4740000.0,0.0,0.0,47400.0,80106.0
8,11201.0,1187,CND,0.0,81.0,4200000.0,787743.0,15361.0,42000.0,70980.0

In [43]:
#calculate the mortage tax as 1.8% for mortgages less than $500,000 and 1.95% for mortgages of $500,000 or more
#calculate the mansion tax as 1% for sales over $1,000,000
# calculate the hypotehtical sales tax if the tax rate as 2/3 or the mortgage tax (1.19%) for purchases less than
# $1,000,000 and add an additional 0.5% (1.69%)for purchases over $1,000,000

bklyn_df['Mtg Tx Pd'] = np.where(bklyn_df['Amount Mortgaged'] >= 500000, 
                                 bklyn_df['Amount Mortgaged'] * 0.0195, bklyn_df['Amount Mortgaged'] * 0.018)
bklyn_df['Mansion Tax Pd'] = np.where(bklyn_df['Purchase Amt'] >= 1000000, bklyn_df['Purchase Amt'] * 0.01, 0)
bklyn_df['New Sales Tax Amount'] = np.where(bklyn_df['Purchase Amt'] >= 1000000, bklyn_df['Purchase Amt'] * 0.009,
                                bklyn_df['Purchase Amt'] * 0.014)

bklyn_df.head()

,ZIP,Zip Count,Type,Owner Occ?,Purchase Down %,Purchase Amt,Amount Mortgaged,Mtg Tx Pd,Mansion Tax Pd,New Sales Tax Amount
0,11201.0,1187,CND,0.0,33.0,4600000.0,3062500.0,59718.8,46000.0,41400.0
1,11201.0,1187,CND,0.0,30.0,4550000.0,3185000.0,62107.5,45500.0,40950.0
2,11201.0,1187,CND,0.0,69.0,2620000.0,825084.0,16089.1,26200.0,23580.0
4,11201.0,1187,CND,0.0,100.0,4740000.0,0.0,0.0,47400.0,42660.0
8,11201.0,1187,CND,0.0,81.0,4200000.0,787743.0,15361.0,42000.0,37800.0

In [44]:
#same as abouve but with the investor DF
#calculate the mortage tax as 1.8% for mortgages less than $500,000 and 1.95% for mortgages of $500,000 or more
#calculate the mansion tax as 1% for sales over $1,000,000
# calculate the hypotehtical sales tax if the tax rate as 2/3 or the mortgage tax (1.19%) for purchases less than
# $1,000,000 and add an additional 0.5% (1.69%)for purchases over $1,000,000

investor_bk_df['Mtg Tx Pd'] = np.where(investor_bk_df['Amount Mortgaged'] >= 500000, 
                                 investor_bk_df['Amount Mortgaged'] * 0.0195, investor_bk_df['Amount Mortgaged'] * 0.018)
investor_bk_df['Mansion Tax Pd'] = np.where(investor_bk_df['Purchase Amt'] >= 1000000, investor_bk_df['Purchase Amt'] * 0.01, 0)
investor_bk_df['New Sales Tax Amount'] = investor_bk_df['Purchase Amt'] * 0.04438

investor_bk_df.head()

,ZIP,Zip Count,Type,Owner Occ?,Purchase Down %,Purchase Amt,Amount Mortgaged,Mtg Tx Pd,Mansion Tax Pd,New Sales Tax Amount
3,11201.0,1187,CND,1.0,100.0,2700000.0,0.0,0.0,27000.0,119826.0
5,11201.0,1187,CND,1.0,52.0,5173120.0,2500000.0,48750.0,51731.2,229583.1
6,11201.0,1187,CND,1.0,100.0,5975000.0,0.0,0.0,59750.0,265170.5
7,11201.0,1187,CND,1.0,20.0,2780000.0,2224000.0,43368.0,27800.0,123376.4
14,11201.0,1187,CND,1.0,20.0,1550000.0,1240000.0,24180.0,15500.0,68789.0

In [45]:
#show the total mtg tax and mansion taxes collected and compare to what our hypothetical tax would have raised

total_mtg_tax_pd = bklyn_df['Mtg Tx Pd'].sum()
total_mansion_tax_pd = bklyn_df['Mansion Tax Pd'].sum()
total_est_tax = bklyn_df['New Sales Tax Amount'].sum()
total_mtg_tax_inves_pd = investor_bk_df['Mtg Tx Pd'].sum()
total_mansion_tax_inves_pd = investor_bk_df['Mansion Tax Pd'].sum()
total_est_inves_tax = investor_bk_df['New Sales Tax Amount'].sum()
print(f"The total mtg tax paid in bklyn by individuals purchasing primary residences in 2022 was ${total_mtg_tax_pd:,.0f} and the total mansion tax collected was ${total_mansion_tax_pd:,.0f}.")
print(f'The combined mtg and mansion tax was {total_mtg_tax_pd + total_mansion_tax_pd:,.0f}, our hypothetical sales tax would have raised ${total_est_tax:,.0f}')
print(f"The total mtg tax paid in bklyn by investors in 2022 was ${total_mtg_tax_inves_pd:,.0f} and the total mansion tax collected was ${total_mansion_tax_inves_pd:,.0f}.")
print(f'The combined mtg and mansion tax was {total_mtg_tax_inves_pd + total_mansion_tax_inves_pd:,.0f}, our hypothetical sales tax on investments would have raised ${total_est_inves_tax:,.0f}')
print(f'The total tax raised in 2022 was {total_mtg_tax_pd + total_mansion_tax_pd + total_mtg_tax_inves_pd + total_mansion_tax_inves_pd:,.0f} and the total amount that would have been raised would have been ${total_est_tax + total_est_inves_tax:,.0f}')

The total mtg tax paid in bklyn by individuals purchasing primary residences in 2022 was $88,555,615 and the total mansion tax collected was $64,458,661.
The combined mtg and mansion tax was 153,014,275, our hypothetical sales tax would have raised $100,408,275
The total mtg tax paid in bklyn by investors in 2022 was $89,153,867 and the total mansion tax collected was $44,478,159.
The combined mtg and mansion tax was 133,632,027, our hypothetical sales tax on investments would have raised $366,597,875
The total tax raised in 2022 was 286,646,302 and the total amount that would have been raised would have been $467,006,150

In [46]:
bklyn_by_zip_and_occ = bklyn_df.groupby(['ZIP', 'Owner Occ?']).agg({'Zip Count': 'count', 'Purchase Amt': 'sum', 
                                                            'Purchase Down %': 'mean',
                                                            'Amount Mortgaged': 'sum', 
                                                            'Mtg Tx Pd': 'sum', 'Mansion Tax Pd': 'sum', 
                                                            'New Sales Tax Amount': 'sum'})

bklyn_by_zip_and_occ.head()

,,Zip Count,Purchase Amt,Purchase Down %,Amount Mortgaged,Mtg Tx Pd,Mansion Tax Pd,New Sales Tax Amount
ZIP,Owner Occ?,,,,,,,
0.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0
11201.0,0.0,677,1166733334.0,56.3,499361433.0,9694053.0,9711303.5,11478614.9
11203.0,0.0,162,91241269.0,18.9,77032678.0,1459914.1,0.0,1277377.8
11204.0,0.0,122,91362097.0,50.4,48825287.0,931177.4,186250.0,1185944.4
11205.0,0.0,136,312907552.0,56.5,156655732.0,3039730.5,2609592.2,3075909.6

In [47]:
bklyn_by_zip = bklyn_df.groupby(['ZIP']).agg({'Zip Count': 'count', 'Purchase Amt': 'sum', 
                                                            'Purchase Down %': 'mean',
                                                            'Amount Mortgaged': 'sum', 
                                                            'Mtg Tx Pd': 'sum', 'Mansion Tax Pd': 'sum', 
                                                            'New Sales Tax Amount': 'sum'})
bklyn_by_zip.shape

(40, 7)

In [48]:
investor_by_zip = investor_bk_df.groupby(['ZIP']).agg({'Zip Count': 'count', 'Purchase Amt': 'sum', 
                                                            'Purchase Down %': 'mean',
                                                            'Amount Mortgaged': 'sum', 
                                                            'Mtg Tx Pd': 'sum', 'Mansion Tax Pd': 'sum', 
                                                            'New Sales Tax Amount': 'sum'})
investor_by_zip.shape

(39, 7)

In [49]:
bklyn_by_zip['Average Purchase $'] = bklyn_by_zip['Purchase Amt']/bklyn_by_zip['Zip Count']
bklyn_by_zip['Average Mtg'] = bklyn_by_zip['Amount Mortgaged']/bklyn_by_zip['Zip Count']
bklyn_by_zip['Ave Hypothetical Tax'] = bklyn_by_zip['New Sales Tax Amount']/bklyn_by_zip['Zip Count']
pd.options.display.float_format = '{:.1f}'.format

bklyn_by_zip.head(20)

,Zip Count,Purchase Amt,Purchase Down %,Amount Mortgaged,Mtg Tx Pd,Mansion Tax Pd,New Sales Tax Amount,Average Purchase $,Average Mtg,Ave Hypothetical Tax
ZIP,,,,,,,,,,
0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11201.0,677,1166733334.0,56.3,499361433.0,9694053.0,9711303.5,11478614.9,1723387.5,737609.2,16955.1
11203.0,162,91241269.0,18.9,77032678.0,1459914.1,0.0,1277377.8,563217.7,475510.4,7885.0
11204.0,122,91362097.0,50.4,48825287.0,931177.4,186250.0,1185944.4,748869.6,400207.3,9720.9
11205.0,136,312907552.0,56.5,156655732.0,3039730.5,2609592.2,3075909.6,2300790.8,1151880.4,22617.0
11206.0,88,64480782.0,50.0,39196214.0,747204.2,141310.0,832075.9,732736.2,445411.5,9455.4
11207.0,109,89175694.0,26.8,95053897.0,1832045.0,415800.0,1040559.7,818125.6,872054.1,9546.4
11208.0,75,40378294.0,34.3,34048812.0,649889.6,0.0,565296.1,538377.3,453984.2,7537.3
11209.0,233,275128181.0,48.2,141661905.0,2743997.4,1964600.8,2869494.1,1180807.6,607991.0,12315.4
11210.0,183,252538416.0,37.7,139417694.0,2694594.1,1665885.5,2702595.1,1379991.3,761845.3,14768.3
11211.0,359,463495035.0,52.1,225564766.0,4371952.7,3391180.0,4793340.5,1291072.5,628314.1,13351.9
11212.0,63,31105627.0,20.8,26177044.0,491392.4,0.0,435478.8,493740.1,415508.6,6912.4
11213.0,64,54772059.0,40.2,35246094.0,676124.6,285350.0,624133.8,855813.4,550720.2,9752.1
11214.0,175,120159150.0,45.5,60898302.0,1131230.9,157180.0,1603638.1,686623.7,347990.3,9163.6
11215.0,449,715066081.0,51.7,333094910.0,6451968.2,5860312.8,7080768.7,1592574.8,741859.5,15770.1
11216.0,142,137243536.0,46.3,73439365.0,1408461.2,687585.0,1577617.0,966503.8,517178.6,11110.0
11217.0,217,366976617.0,50.6,179221961.0,3481208.7,3287571.4,3493886.9,1691136.5,825907.7,16100.9
11218.0,169,963489930.0,56.6,287206668.0,5588202.9,9159549.3,8909084.3,5701123.8,1699447.7,52716.5
11219.0,67,46908002.0,47.9,24875227.0,467655.6,73860.0,619782.0,700119.4,371272.0,9250.5
11220.0,76,57617435.0,45.8,34080289.0,646829.9,154650.0,729319.1,758124.1,448424.9,9596.3

In [50]:
investor_by_zip['Average Purchase $'] = investor_by_zip['Purchase Amt']/investor_by_zip['Zip Count']
investor_by_zip['Average Mtg'] = investor_by_zip['Amount Mortgaged']/investor_by_zip['Zip Count']
investor_by_zip['Ave Hypothetical Tax'] = investor_by_zip['New Sales Tax Amount']/investor_by_zip['Zip Count']
pd.options.display.float_format = '{:.1f}'.format

investor_by_zip.head(20)

,Zip Count,Purchase Amt,Purchase Down %,Amount Mortgaged,Mtg Tx Pd,Mansion Tax Pd,New Sales Tax Amount,Average Purchase $,Average Mtg,Ave Hypothetical Tax
ZIP,,,,,,,,,,
11201.0,510,989852507.0,52.1,424935315.0,8249096.6,8558505.1,43929654.3,1940887.3,833206.5,86136.6
11203.0,222,123862967.0,17.5,106287037.0,2019364.4,13750.0,5497038.5,557941.3,478770.4,24761.4
11204.0,191,152757807.0,46.9,88523247.0,1687271.7,307055.0,6779391.5,799779.1,463472.5,35494.2
11205.0,107,120789219.0,49.3,66196359.0,1279794.0,764943.9,5360625.5,1128871.2,618657.6,50099.3
11206.0,85,60591428.0,45.9,37093076.0,712209.6,74530.0,2689047.6,712840.3,436389.1,31635.9
11207.0,104,50649714.0,25.9,75718005.0,1453213.0,44300.0,2247834.3,487016.5,728057.7,21613.8
11208.0,109,57213299.0,23.5,55248376.0,1042093.8,19000.0,2539126.2,524892.7,506865.8,23294.7
11209.0,345,389175399.0,44.8,217556256.0,4206248.6,2485820.0,17271604.2,1128044.6,630597.8,50062.6
11210.0,340,288371571.0,28.7,210481854.0,4052795.8,1016120.0,12797930.3,848151.7,619064.3,37641.0
11211.0,192,215139048.0,50.5,102946738.0,1995375.2,1343207.3,9547871.0,1120515.9,536180.9,49728.5
11212.0,85,42234700.0,11.0,38210123.0,718657.4,13500.0,1874376.0,496878.8,449530.9,22051.5
11213.0,71,52393721.0,29.6,30096040.0,573334.1,234145.0,2325233.3,737939.7,423887.9,32749.8
11214.0,273,183970050.0,48.0,93160539.0,1749305.0,226540.0,8164590.8,673883.0,341247.4,29906.9
11215.0,373,615777716.0,47.4,319011349.0,6203271.1,5199740.9,27328215.0,1650878.6,855258.3,73266.0
11216.0,91,117662986.0,40.5,57917345.0,1118597.8,780796.0,5221883.3,1292999.8,636454.3,57383.3
11217.0,170,283653403.0,50.2,133067794.0,2582266.7,2470973.3,12588538.0,1668549.4,782751.7,74050.2
11218.0,172,233317996.0,44.1,133065085.0,2579678.3,1881616.4,10354652.7,1356500.0,773634.2,60201.5
11219.0,95,64829686.0,49.9,35446252.0,667956.4,124394.0,2877141.5,682417.7,373118.4,30285.7
11220.0,111,74823981.0,55.3,35239599.0,662355.1,145085.0,3320688.3,674089.9,317473.9,29916.1
11221.0,45,44328790.0,45.4,22215590.0,430285.6,255659.5,1967311.7,985084.2,493679.8,43718.0